<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header class="container">
      <nav>
        <a href="#">link 1</a>
        <a href="#">link 2</a>
        <a href="#">link 3</a>
      </nav>
    </header>
    <main class="container">
      <h1>Site Name</h1>
      <img src="images/happymelon.jpg" alt="cutie melon" />
      <h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. In ante
          metus dictum at. Mi tempus imperdiet nulla malesuada pellentesque
          elit. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar
          sapien et. Id interdum velit laoreet id donec. Adipiscing tristique
          risus nec feugiat in. Augue neque gravida in fermentum et
          sollicitudin. Gravida rutrum quisque non tellus. Tristique et egestas
          quis ipsum suspendisse ultrices gravida dictum. Mi ipsum faucibus
          vitae aliquet nec ullamcorper sit amet risus. Enim facilisis gravida
          neque convallis. Nec ullamcorper sit amet risus nullam eget felis
          eget. Enim lobortis scelerisque fermentum dui faucibus in ornare quam
          viverra. Nunc faucibus a pellentesque sit amet porttitor eget dolor
          morbi. Vel facilisis volutpat est velit. Facilisi morbi tempus iaculis
          urna id volutpat. Elementum nisi quis eleifend quam adipiscing vitae
          proin sagittis nisl. Laoreet suspendisse interdum consectetur libero
          id faucibus nisl.
        </p>
      </h2>
    </main>
    <footer class="container">
      <p>&copy; 2023 K.G. Solano</p>
    </footer>
  </body>
</html>
