
 /* Reset some default styles and apply some basic styling */
 body {
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
 }

 table,
 th,
 td {
     border: 1px solid black;
 }

 /* Style for the navigation links */
 .centered-nav {
     text-align: center;
     list-style: none;
     padding: 0;
 }

 .centered-nav li {
     display: inline;
     margin: 0 20px;
     /* Adjust this margin as needed */
 }

 .button {
     display: inline-block;
     padding: 10px 20px;
     background-color: #1377e1;
     /* Change this to your desired button color */
     color: #282a2b;
     /* Text color */
     text-decoration: none;
     border-radius: 5px;
     font-weight: bold;
     transition: background-color 0.3s ease-out;
 }

 .button:hover {
     background-color: #E91E63;}
     /* Change this to the hover color */
