/* Set colors for the page */
body{
    background-color: black;
    color: orange; /* this is the font color*/
    font-size: larger;
}

/* create styles for the h1 tag */

/* Sample - pick your own colors and settings. Make sure to include the ; at the end of the line

h1{
    color: teal;
    font-family: serif;
    font-size: larger;
    text-align: center
}
*/
h1{
    color: rgb(200, 6, 6);
    font-family: 'Times New Roman', Times, serif;   
    font-size: 20px;
    text-align: center;
}
/* create styles for the h2 tag */
h2{
    color: rgb(235, 190, 10);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align:end;
}
/* create styles for the h3 tag */
h3{
    color: red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    text-align: center; 
}
/* create styles for the p tag */
p{ 
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    }
image{
    width: 35%;
    display: block;
    margin: 10px auto; 
}    
     /* this set of 3 commands centers. 10px is spacing top and bottom, auto is left and right
